body{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(135deg, #1a0610,#3b0a24, #111827);
    color: white;
    text-align: center;
}
nav{
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
}
nav a{
    color: white;
    text-decoration: none;
    margin: 0 5px;
    font-weight: bold;
}
nav a:hover{
    color: #f472b6;
}
h1{
    margin-top: 80px;
    color: #f472b6;
    font-size: 45px;
}
h2{
    margin-top: 50px;
    color: #f9a8d4;
    font-size: 30px;
}
p{
    max-width: 650px;
    margin: 20px auto;
    line-height: 1.8;
    font-size: 18px;
}
.package{
    background: rgba(255,255,255 0.08);
    width: 280px;
    margin: 25px auto;
    padding: 25px;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    transition: 0.3s;
}
.package:hover{
    transform: translateY(-8px);
    background: rgba(255, 255, 255, 0.14);
}
.package h3{
    color: #f472b6;
    font-size: 24px;
}
.package.price{
    font-size: 22px;
    font-weight: bold;
    color: #f9a8d4;
}